@charset "UTF-8";
@import url("../fonts/minionpro_reg/stylesheet.css");
@import url("../fonts/minionpro_it/stylesheet.css");
body {
	font: 100%/1.4 Arial, Helvetica, sans-serif;
	background-color: #CFC6BE;
	margin: 0;
	padding: 0;
	color: #535350;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}
h1, h2, h3, h4 {
		color:  #393938;
		font-family: minion-pro, minionpro-reg, Georgia, serif;
		font-style: normal;
		font-weight: 400;	
}
p {
	font-size: .8em;	
}
a img {
	border: none;
}
a:link {
	color: #42413C;
	text-decoration: underline;
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
header h1 {
	font-size:  0.875em;
	letter-spacing: .4em;
	text-align:  center;
	padding:  10px 0 5px;
	margin: 0 2px 15px 2px;
	border: 1px solid #bbb5ae;
	border-right:  none;
	border-left:  none;
	text-transform: uppercase;
	position:  relative;
}
header h1:before {
	content: "";
	position: absolute;
	width:  19px;
	height:  8px;
	left: 325px;
	top:  14px;
	background-image: url(../img/arrow-header.gif);
	background-repeat: no-repeat;	
}
header h1:after {
	content: "";
	position: absolute;
	width:  19px;
	height:  8px;
	right: 327px;
	top:  14px;
	background-image: url(../img/arrow-header.gif);
	background-repeat: no-repeat;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);	
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
h2 {
	font-size: 1.375em;	
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #A1A09B;
	margin-bottom: 25px;
}
h2 span {
	text-transform: none;
	font: italic 0.909em "minionpro_it", "Georgia Italic", sans-serif;
}
h2 {
	margin-top:  50px;	
}
h4 {
	font: 700 14px/1.1 "minionpro_it", "Georgia Italic", sans-serif;	
	margin: 0;
	padding-left: 9px;
	letter-spacing: .2em;
	text-transform: uppercase;
}
/*h4 {
	font-size: .8em;	
	text-align: center;
	margin-top: 20px;
	height:  25px;
	border-bottom: 1px solid #A1A09B;
	position:  relative;
}
h4 span {
	background-color: #F3EAE1;
	padding: 10px;
	position: absolute;
	display: block;
	top:  10px;
	left: 125px;
}*/
.contain-out {
	width: 980px;
	background-color: #DED5CC;
	margin: 0 auto;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.25);
	box-shadow: 0 0 6px rgba(0,0,0,.25);
}
.contain-in {
	width: 958px;
	background-color: #F3EAE1;
	margin: 0 auto;
	padding-top: 15px;
	-webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,.25);
	box-shadow: 0 0 6px rgba(0,0,0,.25);
}
.sidebar1 {
	float: right;
	width: 318px;
	padding: 0 55px 10px 35px;
}
.content {
	padding: 10px 0;
	width: 460px;
	padding: 0 22px 10px 65px;
	float: left;
}
.content ul, .content ol {
	padding: 0 15px 15px 40px;
}
.studio {
	width: 427px;
	height: 240px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid rgba(217,210,202,.5);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
}	
nav ul {
	list-style: none;
	margin-bottom: 15px;
	text-align: center;
}
nav ul li {
	display: inline;
	border-left:  1px solid #bbb5ae;
}
nav li:first-child {
	border-left:  none;	
}
nav a:link, nav a:visited {
	padding: 5px 10px 5px 15px;
	width: 160px;
	text-decoration: none;
	color:  #1c1c1c;
	text-transform: uppercase;
	font: 400 normal 0.875em/1.4 minion-pro, minionpro-reg, Georgia, serif;
}
nav a:hover, nav a:active, nav a:focus {
	color: #808183;
}
.promo {
	border-bottom: 1px solid #E1D9D0;
	background-color:#fff;
	/*padding: 8px 0 10px; Padding was causing a problem with Edge insertion*/
}
.promo img { display:block;} /*this can be removed if it's problematic for Edge piece*/
.news {
	margin-top: 45px;
	font-style: italic;
	padding: 3px 0;
	background-color: rgba(255,255,255,.3);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	font-family: "minionpro_it", "Georgia Italic", sans-serif;
}
.news a {
	font-weight:  bold;
	text-decoration: none;
}
.arrow {
	width: 165px;
	height:  30px;
	background-image: url(../img/latest-news.gif);
	background-repeat: no-repeat;
	margin:  15px 0 15px 15px;
}
.arrow span {
	display: block;
	text-indent: -999em;	
}
.pluralist {
	margin: 15px 0 35px;
	background-color: rgba(255,255,255,.3);	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.pluralist a {
	text-decoration: none;	
}
.pluralist p {
	padding-top: 30px;	
}
.pluralist span {
	width: 130px;
	padding: 5px;
	text-transform: uppercase;
	font: 400 normal 0.875em/1.4 minion-pro, minionpro-reg, Georgia, serif;
	display: block;
	float: left;
	border-right: 1px solid #ddd;
	letter-spacing: .2em;
}
.pluralist img {
	margin-top: -25px;
}
.bubble {
	width: 300px;
	margin: 20px 0;
	padding: 5px 5px 0;	
	border:  1px solid #d9d2ca;	
}
.footer {
	padding: 0;
	position: relative;
	clear: both;
}
.footer p {
	font-size:  .7em;
	font-style: italic;
	border-bottom:  1px solid #A1A09B;	
	padding-bottom: 5px;
	padding-left:  0;
	margin: 0 65px 5px;
}
.disclaim {
	padding-bottom: 15px;	
	padding-left:  0;
	margin-bottom: 0;
	margin-left: 65px;
	font-size:  .75em;
	font-style: italic;
}
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

#Stage {
	width:958px;
	height:352px;
}
